.SidePane {
  position: relative;
  background-color: var(--daima-sideBar-background);
  color: var(--daima-sideBar-foreground);
  border-right: 1px solid var(--daima-sideBar-border);

  &__sash {
    position: absolute;
    right: -2px;
    top: 0;
    @include box(4px);
    cursor: ew-resize;
    z-index: 2;
    transition: background-color 0.2s ease-in-out;
    display: flex;

    &:active,
    &:hover {
      background-color: var(--daima-sash-hoverBorder);
    }
  }

  &__content {
    @include box($height: calc(100vh - 35px));
    padding-top: 5px;
    overflow: auto;

    &--inner {
      margin-bottom: 15px;
    }
  }

  &__header {
    @include box(100%, 35px);
    @include make-flex($dir: row, $just: space-between, $align: center);
    padding: 0 15px;
    border-bottom: 1.5px solid var(--daima-tree-indentGuidesStroke);
    h2 {
      text-transform: uppercase;
      font-size: 11px;
      cursor: default;
      font-weight: 400;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
