.Workbench {
  display: grid;
  @include box();
  position: relative;
  background-color: var(--daima-peekViewResult-background);
  grid-template-columns: 48px 1fr 1fr;
  color: var(--daima-foreground);
}
