.Workbench {
  display: grid;
  @include box();
  position: relative;
  background-color: var(--daima-editorPane-background);
  color: var(--daima-foreground);
  overflow: hidden;
  grid-template-rows: 30px 1fr;

  &__bottom {
    display: grid;

    &--right {
      display: grid;
      grid-template-rows: 35px 22px 1fr;
      grid-template-columns: 100%;
    }
  }
}
